*{
  font-family:'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images-folder/fancy-cushion.webp);
  color: rgb(0, 0, 0);
}

#header-1 {
  background:#ececec;
  margin-bottom: 35px;
}
h1 {
  text-align: left;
  margin: 43px auto 45px;
  font-weight: 600px;
  display: inline-block;
 }